.Cards {
  display: flex;
  gap: 10px;
}
.parentCard {
  width: 100%;
}

@media (max-width: 1200px) {
  .Cards {
 flex-direction: column;
  }
.parentCard {
  height: 9rem;
margin-bottom: 2rem;
}
}


@media  (max-width: 768px)
{
  .Cards{
    width: 90% !important;
    
  }
}
